<section class="test-container">
  <button mat-raised-button color="primary" class="back-btn">Atrás</button>
  <button mat-raised-button color="warn" id="go-report-btn">Siguiente</button>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <button mat-raised-button color="primary" (click)="domainIndex=0">Planear y Organizar</button>
      <button mat-raised-button color="primary" (click)="domainIndex=1">Adquirir e Implementar</button>
      <button mat-raised-button color="primary" (click)="domainIndex=2">Entregar y Dar Soporte</button>
      <button mat-raised-button color="primary" (click)="domainIndex=3">Evaluar y Monitorear</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-domains-compo [domainIndex]="domainIndex"></app-domains-compo>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
