<mat-accordion *ngIf="currentDomain != undefined">
  <mat-expansion-panel *ngFor="let process of currentDomain.processes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ process.name }}
      </mat-panel-title>
      <section class="maturity-panel" *ngIf="!editQuestions">
        <mat-label>Nivel de madurez</mat-label>
        <mat-progress-bar mode="determinate" value="{{process.average * 20}}"></mat-progress-bar>
        ({{process.average}})
      </section>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let objective of process.objectives">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ objective.name }}
          </mat-panel-title>
          <button *ngIf="editQuestions" mat-fab color="warn" class="add-btn" (click)="$event.stopPropagation(); openDialog('save', objective);">
            <mat-icon title="Añadir pregunta">add_box</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <mat-card *ngFor="let item of objective.questions">
          <article class="question-container">
            {{ item.question }}
          </article>
          <div class="radio-group" *ngIf="!editQuestions">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button *ngFor="let scale of scales" value={{scale.value}} title={{scale.name}}
                (change)="updateScore(item, scale.value); updateProcessAverage(process)" [checked]="scale.value == item.value">
                {{ scale.value }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="editQuestions" class="options-container">
            <button mat-fab color="primary" (click)="$event.stopPropagation(); openDialog('edit', objective, item);">
              <mat-icon title="Editar">edit</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="$event.stopPropagation(); deleteQuestion(item, objective, process);">
              <mat-icon title="Eliminar">delete</mat-icon>
            </button>
          </div>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>