<div class="init-info-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Auditoria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de la empresa a auditar</mat-label>
        <input matInput [(ngModel)]="report.bussiness_name"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre del auditor</mat-label>
        <input matInput [(ngModel)]="report.auditor_name"/>
      </mat-form-field>
      <img
        mat-card-image
        src="https://cdn.lynda.com/course/585257/585257-637286214140837235-16x9.jpg"
        alt="Photo of a Shiba Inu"
      />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToAssetsForm()" id="start-btn">Iniciar Evaluación</button>
    </mat-card-actions>
  </mat-card>
</div>
