.questions-container {
  padding: 0 2% 5% 2%;
}

#next_btn {
  float: right;
}

.mat-slide-toggle {
  float: right;
}

.form-header {
  margin-bottom: 2%;
}

.form-header h2,
.form-header .edit-btn {
  display: inline-block;
}

.form-header h2 {
  margin    : auto;
  width     : 65%;
  color     : white;
  text-align: right;
  font-size : 2rem;
}

.edit-btn {
  background-color: rgb(27, 66, 104);
  border-radius   : 1rem;
  padding         : 0.2rem;
  color           : white;
}